#intro {
	display: inline-block;
	width: 50%;
	height: 450px;
	padding: 0px;
	background: #ddd;
	float: left;
	margin-bottom: 50px;
}
#intro_title {
	margin-top: 10%;
}
#intro span {
	margin-bottom: 10%;
}
#fonc {
	float: right;
	display: inline-block;
	width: 50%;
	background: #ddd;
	padding: 0px;
	vertical-align: top;
	margin-bottom: 50px;
}
#restaurants {
	padding:50px 0px 0px 0px;
	width: 100%;
	text-align: center;
}
.restaurant_list {
	width: 40%;
	margin-left: 3%;
	margin-right: 3%;
	overflow: hidden;
}

#restaurants .title {
	padding: 30px 0px 30px 0px;
}