#location {
	width: 100%;
	height: 50px;
	background-color: #eee;
	line-height: 50px;
	color: #333;
	text-align: center;
	box-shadow: #999 0px 30px 5px -30px inset;
}
#location input[type=text] {
	background-color: #eee;
	color: #333;
	font-size: 18px;
	text-align: center;
	border: none;
	font-family: 'Roboto', sans-serif;
}
#intro {
	text-align: center;
	width: 90%;
	padding: 0% 5% 0% 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 300px;
	font-weight: 100;
	font-size: 18px;
}
#intro span {
	display: block;
}
#intro_title {
	font-size: 24px;
	font-weight: bold;
}

#fonc {
	text-align: center;
	background-color: #fff;
	width: 90%;
	padding: 0% 5% 0% 5%;
	height: 450px;
}
.title {
	display: block;
	padding: 50px 0px 25px 0px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
#fonc i {
	color: #999;
	position: relative;
	font-size: 24px;
	left: -15%;
}
.fonc_step {
	margin-top: 20px;
	width: 100%;
	height: 75px;
	line-height: 75px;
	background-color: #f8f8f8;
	border-radius: 25px;
	box-shadow: 0px 5px 10px #ccc;
}
.fonc_step_active {
	background-color: #dfc1e2;
}
.step_number {
	background-color: var(--primary);
	border-radius: 50%;
	color: #fff;
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	float: left;
	margin-top: 25px;
}

#restaurants {
	text-align: center;
	width: 90%;
	padding: 0% 5% 0% 5%;
}
.restaurant_list {
	width: 100%;
	height: 250px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0px 0px 5px #aaa;
	display: inline-block;
	color: #000;
	text-decoration: none;
	text-align: left;
	margin-bottom: 25px;
	position: relative;
}
.restaurant_new::after {
	content: "Nouveau";
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 7.5px;
	font-size: 15px;
	border-radius: 5px;
	background-color: #99E2D0;
	color: #008766;
}

.restaurant_list .restaurant_img {
	width: 100%;
	height: 72%;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: inline-flex;
	justify-content: center;	
 	align-items: center;

}
.restaurant_list .restaurant_img img {
	object-fit: cover;
	width: 100%;
	height: 180px;
}
.restaurant_text {
	height: 28%;
	width: 80%;
	float: left;

	display: inline-block;

}
.restaurant_name {
	font-weight: bold;
	display: block;
	margin-left: 20px;
	margin-top: 10px;
}
.restaurant_location {
	margin-left: 20px;
	display: block;
	margin-top: 5px;
}
.restaurant_list .like {
float: right;
	margin-top: 20px;
	margin-right: 15px;
}
.restaurant_list a {
	color: black;
	text-decoration: none;
}






