@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap');

/* VARIABLES */
:root {
	--primary: #9356DC;
	--primary_light: #D556DB;
	--secondary: #FF79DA;
	--tertiary: #99E2D0;
	--green: #99e2d0;
	--loader_size: 48px;
	--loader_thickness: 2px;
	--loader_color_back: #eee;
}


/* ANIMATIONS */
@keyframes loader {
	0%{
		visibility: visible;
		background-color: rgba(255, 255, 255, 0.9);
	}
	92%{
		background-color: rgba(255, 255, 255, 0.5);
	}
	100% {
		background-color: rgba(255, 255, 255, 0);
		visibility: hidden;
	}
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
		border-bottom-color: var(--primary);
	}
	50% {
		border-bottom-color: var(--secondary);
	}
	100% {
		transform: rotate(359deg);
		border-bottom-color: var(--primary);
	}
}
@keyframes antirotation {
	0% {
		transform: rotate(0deg);
		border-bottom-color: var(--primary);
	}
	50% {
		border-bottom-color: var(--secondary);
	}
	100% {
		transform: rotate(359deg);
		border-bottom-color: var(--primary);
	}
}


body {
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}
#main {
	background-color: #f8f8f8;
}
#logo {
	font-family: 'Shrikhand', cursive;
	font-size: 26px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	display: block;
	color: black;
	text-decoration: none;
}

#loader_box {
	width: 100%;
	min-height: 800%;
	position: fixed;
	top: 0px;
	left: 0px;
	visibility: hidden;
	animation-name: loader;
 	animation-duration: 1s;
 	animation-iteration-count: 1;
 	z-index: 9;
}
#loader {
	border: var(--loader_thickness) solid var(--loader_color_back);
	border-bottom: var(--loader_thickness) solid var(--primary);
	border-radius: 50%;
	width: var(--loader_size);
	height: var(--loader_size);
	animation: rotation 2s linear infinite;
	position: fixed;
	top: calc(50% - var(--loader_size) / 2);
	left: calc(50% - var(--loader_size) / 2);
}
#loader:after {
	content: " ";
	border: var(--loader_thickness) solid var(--loader_color_back);
	border-bottom: var(--loader_thickness) solid var(--secondary);
	border-radius: 50%;
	margin-top: calc(2 * var(--loader_thickness));
	margin-left: calc(2 * var(--loader_thickness));
	display: block;
	width: calc(var(--loader_size) / 1.33);
	height: calc(var(--loader_size) / 1.33);
	animation: antirotation 2s linear infinite;
}

.button_big {
	color: #fff;
	padding: 15px;
	border-radius: 25px;
	text-decoration: none;
	background: linear-gradient(to bottom right, var(--secondary), var(--primary));
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	box-shadow: 0px 5px 10px #bbb;
	font-weight: 400;
	text-align: center;
	display: block;
	transition: box-shadow 0.5s;
}
.button_big:hover {
	box-shadow: 0px 5px 10px #888;
}

.like {
	color: black;
	font-size: 21px;
}
.like:after {
	background-color: var(--primary); /*Utilise si gradient non supporte?*/
	background: linear-gradient(to bottom, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "\f004";
	font: 21px FontAwesome;
	margin-left: -21px;
	height: 0px;
	display: inline-block;
	transition: height 1s;
}
.like:hover:after {
	height: 21px;
}


footer {
	height: 200px;
	background-color: #333;
	width: calc(100% - 100px);
	padding: 50px;
	color: #fff;
}


#footer_logo {
	font-family: 'Shrikhand', cursive;
}
footer a, footer span {
	text-decoration: none;
	display: block;
	color: #fff;
}







